<!-- <p>
  {{this.searchQuery}}
</p>
<p>
  {{this.product.name}}
</p> -->

<div style="text-align:center; border-style: none" *ngIf="loader=='loading' || loader=='loaded'">
			<!-- <p style="color: grey">{{product.meta}}</p> -->
</div>


<div style="border-style: none" *ngIf="loader=='loading'" >
	<p style="padding: 20px">Getting Prices...</p>
</div> 


<span style="border-style: none" *ngIf="loader=='loaded'">
	<div *ngFor="let item of this.resultItems.items" style="border-style: none; text-align:center; position: relative; padding:0px; margin: 0px; ">
		<a href="{{item.url}}" target="_blank" (click)="googleAnalytics()">
			<img class="hoverImage" src="{{item.imageUrl}}" height="" width="80%">
		</a>
		<br><br>
		<p style="height: 5rem; text-align: center; " >
			{{product.name}} 
			<span *ngIf="product.cert == 'ewg_rank_1'" style="display:inline"><a style="display:inline; text-align: center"  href="{{product.certlink}}" target="_blank"><img src="assets/ewg_score_1.png" height="30px"></a></span>
			<!-- <span *ngIf="product.cert == 'ewg_rank_2'" style="display:inline"><a style="display:inline; text-align: center"  href="{{product.certlink}}" target="_blank"><img src="assets/ewg_score_1.png" height="30px"></a></span> -->
			<span *ngIf="product.cert == 'ewg_verified'" style="display:inline"><a style="display:inline; text-align: center"  href="{{product.certlink}}" target="_blank"><img src="assets/ewg_verified.png" height="30px"></a></span>
			<span *ngIf="product.cert == ' '" style="display:inline">N/A</span>
		</p>
		<a href="{{item.url}}" target="_blank" (click)="googleAnalytics()">
			<button class="btn btn-secondary">
				{{item.price | currency:'USD':true:'1.0-2'}}
			</button>
		</a>
	</div>
</span> 



<div style="border-style: none" *ngIf="resultItems?.items.length == 0" >
	<p style="padding-left: 20px">No Prices Found</p>
</div> 