<!-- <p>
  {{this.searchQuery}}
</p>
<p>
  {{this.company.name}}
</p>
 -->
<div style="border-style: none" *ngIf="loader=='loading' || loader=='loaded'">
 	<p style="color: grey">{{company.meta}}</p>
	<p *ngIf="company.cert == 'bcorporation'" style="color: grey"><img height="30px" src="assets/bcorporation.jpg"> Certification: B-Corporation <a href="{{company.certlink}}" target="_blank">View Certificate</a></p>
	<p *ngIf="company.cert == 'fairtradeusa'" style="color: grey"><img height="30px" src="assets/fairtradeusa.png"> Certification: Fair Trade USA <a href="{{company.certlink}}" target="_blank">View Site</a></p>
	<p *ngIf="company.cert == 'fairlaborassociation'" style="color: grey"><img height="30px" src="assets/fairlabor.png"> Certification: Fair Labor Association <a href="{{company.certlink}}" target="_blank">View Site</a></p>
</div>

<hr>

<div style="border-style: none" *ngIf="loader=='wait'" class="row">
	<p style="padding: 20px"></p>
</div> 

<div style="border-style: none" *ngIf="loader=='loading'" class="row">
	<p style="padding: 20px">Loading Products...</p>
</div> 


<div style="border-style: none" *ngIf="loader=='loaded'" class="row">
	<div *ngFor="let item of this.resultItems.items" class="col-sm-2" style="border-style: none; text-align:center">
		<p><img src="{{item.imageUrl}}" height="" width="100%"></p>
		<p><b>{{item.name}}</b></p>
		<a href="{{item.url}}" target="_blank" (click)="googleAnalytics()"><p>${{item.price}}</p></a>
	</div>
</div> 



<div style="border-style: none" *ngIf="resultItems?.items.length == 0" class="row">
	<p style="padding-left: 20px">No Products Found</p>
</div> 