<div class="container">
	<h1>
	  {{title}}
	</h1>

	<input 
		[(ngModel)]="this.searchQuery" 
		name="searchQuery"
		type="text" 
		style="width: 100%" 
		class="form-control" 
		placeholder="eg. clothing, surf, Patagonia" 
	/>
	
	<div style="border-style: none" *ngIf="this.searchQuery !==''">
		<div *ngFor="let company of this.companies | search: searchQuery">
			<h3>
				{{company.name}}
			</h3>
			Certification: {{company.cert}}
			<a href="{{company.certlink}}" target="_blank">View</a>
			<hr>
			<juice-object [searchQuery]="this.searchQuery" [company]="company"></juice-object>
		</div>
	</div>
</div>