<div class="container" style="margin-top: 80px;">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1 style="text-align: center; color: #f28a67">
				<!-- <img src="assets/logo.png" height="40px" style="margin-bottom:10px; "><br> -->
			  	Find skincare products you'll <span style="color: #7c7cf4">trust</span> on your loved ones
			</h1>
			<h3 style="text-align: center; color: #f28a67">
				(& you'll <span style="color: #7c7cf4">love</span>, too.)
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<br><br>				
			<input 
				(keyup)="keyDown()"
				[(ngModel)]="this.searchQuery"
				name="searchQuery"
				type="text" 
				autofocus="autofocus"
				class="form-control" 
				placeholder="Hand Cream, Sunscreen, Baby Bath, Dr. Bronner's" 
				autocorrect="off" 
			/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-offset-2 col-lg-8">
			<div style="color: grey; margin-top: 200px" *ngIf="default">
				<p>There are thousands of skincare products out there but you want what's safest for you & your child, so GoodGood searches only top-ranked certified toxin-free products from the EWG database and sorts them by price. Disclosure: When you buy a product through our partners (Viglink & Amazon), we donate 10% back to the EWG’s certification efforts. Questions? <a href="mailto:n.dunkel@gmail.com">Reach out</a>! Find this useful?
					<span class="fb-share-button" data-href="http://getgoodgood.com" data-layout="button_count" data-size="small" data-mobile-iframe="false">
						<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fgetgoodgood.com%2F&amp;src=sdkpreparse">
							Spread The Word!
						</a>
					</span>
				</p>
			</div>
			<div style="margin-top: 80px">
				<div  *ngIf="typing" class="row">
					<p style="padding-left:20px; color:grey">
						Please complete a phrase to find products
					</p>
				</div>
				<div *ngIf="resultShower && filteredProducts.length !== 0" class="row">
					<a style="margin-left:20px" class="btn btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					  About Our Ranking Method
					</a>
					<div class="collapse" id="collapseExample">
  						<div class="well">					
							<p>The Environmental Working Group's Skin Deep Database rates products based on the 
							<a href="http://www.ewg.org/skindeep/users-guide-to-skin-deep/" target="_blank">
								ingredient hazard score
							</a>
							. Score 1-10 (1 is best) reflects known and suspected hazards of ingredients. We display only 
							<img src="assets/ewg_verified.png" height="30px"> EWG verified (Best: All ingredients declared, all are safe), Rating 
							<img src="assets/ewg_score_1.png" height="30px"> (Lowest Hazard) and Rating 
							<img src="assets/ewg_score_2.png" height="30px"> (Low Hazard), because we think only low to no-hazard products are worth considering. Then we sort them by price. Touch the certification button next to the product to find more ingredient information on the EWG site.</p>
					  	</div>
					</div>
					<hr style="padding: 0px; margin-bottom: 5px">
					<div class="row" style="text-align:center; padding:0px; margin: 0px">
						<div class="col-xs-4">
							<b><p>Product</p></b>
						</div>
						<div class="col-xs-4">
							<b><p>Certification (Touch For Ingredients)</p></b>
						</div>
						<div class="col-xs-4">
							<b><p>Best Price</p></b>
						</div>
					</div>
					<hr style="padding: 0px; margin-top: 0px">
					<div class="col-lg-12">
						<div *ngFor="let product of this.filteredProducts, let i = index ">
							<div *ngIf="i < this.resultLimit" >
								<juice-object [searchQuery]="this.searchQuery" [product]="product"></juice-object>
								<hr>
							</div>
						</div>
						<p style="text-align: center; margin: 50px">
							<span class="btn btn-primary" (click)="this.resultLimit = this.resultLimit + 20">		Load More
							</span>
						</p>
					</div>
				</div>
				<div *ngIf="filteredProducts && filteredProducts.length == 0" class="row">
					<div class="col-lg-12">
						<div class="" >
							<p style="padding-left:20px; color:grey">
								🔍 Please be less specific to find more results!
							</p>
						</div>
					</div>
				</div>
				<div *ngIf="tooShort" class="row">
					<div class="col-lg-12">
						<div class="" >
							<p style="padding-left:20px; color:grey">
								🔍 Please enter a longer Phrase
							</p>
						</div>
					</div>
				</div>
				<div *ngIf="mySearching" class="row">
					<div class="col-lg-12">
						<div class="" >
							<p style="padding-left:20px; color:grey">
								🔍 Searching...
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>